<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Workspace/Stay-Tenant-Purger/Stay-Tenant-Purger/src/test/java/com/agilysys/StayTenantPurger/StayTenantPurgerApplicationTests.java">
        <classes>
            <class name="com.agilysys.StayTenantPurger.StayTenantPurgerApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                    <include name="contextLoads1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>